
.loaderr{
    min-height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.hrline{
    border-radius: 8px;
    border: none;
    background-size: 800px 50px;
    height: 30px;
    animation: loader 4s infinite linear;
    background: linear-gradient(to right,#9ed7ff,#fff,#9ed7ff);
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
    
}

.aii{
    background-color: black;
    min-height: 30vh;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 80px;
    width: 90%;
    padding: 50px;

    & .gemini {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        font-size: 30px;
        color: white;
        padding: 30px;
        & img{
            width: 200px;
            border-radius: 30px;
        }
    }

    & .ai-container{
        background-color: white;
        width: 90%;
        border-radius: 30px;
        text-align: center;
        color: black;
        margin: 0 auto;
        margin-bottom: 30px;
        min-height: 300px;
        padding: 30px;

        & p{
            font-size: 50px;
        }
        & .ai-box{
            width: 90%;
            margin: 0 auto;
            border: solid 2px black;
            border-radius: 30px;
            min-height: 200px;
            padding: 30px;
        }
    }
}